# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem
desktop.ini

# local configs
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local environments
.env*.local

# development
.swc
*.tsbuildinfo
.turbo

# lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
